body {
  background-color: #252525;
}

h2 {
  color: #fff;
  font-weight: 200;
  color: #ffcf55;
}

.app-section {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  padding: 48px 12px;
}

.flex {
  display: flex
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.radius-full {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #ffcf55;
}
